/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2-giu-2020, 1.48.33
    Author     : Antonio
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1-giu-2020, 15.07.05
    Author     : Antonio
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1-giu-2020, 9.48.08
    Author     : Antonio
*/


#tab {
  
  padding: 20px;
  width: 50%;
  background-color:#e6ef7f;
  height: 500px; /* only for demonstration, should be removed */
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}




    
    

footer{
    background-color: #e6ef7f;
    text-align: center;
    margin-top:20px;
}




.sidenav {
    height: 450px;
    width: 200px;
    float:left;
    background-color: #e6ef7f;
  
}

.sidenav a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    /* border: 258px; */
    padding-left: 18px;
    padding-top: 18px;
    background: none;
    text-align: left;
    padding-bottom: 20px;
    /* outline: none; */
    border-bottom: dotted;
}

/* On mouse-over */
.sidenav a:hover{
  background-color: #81b522;
  
}
