/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1-giu-2020, 11.07.40
    Author     : Antonio
*/

footer{
    background-color: #e6ef7f;
    text-align: center;
    margin-top:20px;
}





.sidenav {
  height: 350px;
  width: 200px;
 float:left;
  background-color: #e6ef7f;
  
}


.sidenav a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    /* border: 258px; */
    padding-left: 18px;
    padding-top: 18px;
    background: none;
    text-align: left;
    padding-bottom: 20px;
    /* outline: none; */
    border-bottom: dotted;
}

/* On mouse-over */
.sidenav a:hover{
  background-color: #81b522;
  
}

#chiSiamo {
    background-color: #e6ef7f;
    width: 50%;
    height: 700px;
    padding-top: 52px;
}

#text{
    text-transform: uppercase;
    padding-top: 50px;
    font-weight: bold;
    font-size: larger;
}
