/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1-giu-2020, 9.29.15
    Author     : Antonio
*/

footer{
    background-color: #e6ef7f;
    text-align: center;
    margin-top:20px;
}




.sidenav {
    height: 450px;
    width: 200px;
    float:left;
    background-color: #e6ef7f;
  
}


.sidenav a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    /* border: 258px; */
    padding-left: 18px;
    padding-top: 18px;
    background: none;
    text-align: left;
    padding-bottom: 20px;
    /* outline: none; */
    border-bottom: dotted;
}

/* On mouse-over */
.sidenav a:hover{
  background-color: #81b522;
  
}

/* Main content */
#main {
    /* margin-left: 200px; */
    font-size: 20px;
    padding: 20px;
    width: 50%;
    background-color: #e6ef7f;
    height: 500px;
}

a{
    
    text-transform: uppercase;
}



